.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // margin: 30px;
  }
  
  .map-frame {
    // border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
  :root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
  }
  // #map {
  //     filter:var(--map-tiles-filter, none);
  // }